@charset "utf-8";
/* CSS Document */
.absfrm2{
	height:625px;
	width:670px;
	position:absolute;
	left:1000px;
	margin-top:22px;
	opacity:1;
	border:0px;
	transition:0.5s all;	

	
}
.absfrm{
	height:1px;
	width:1px;
	position:absolute;
	left:1300px;
	margin-top:22px;
	opacity:0;
	z-index:-1;
	border:0px;
	transition:0.5s all;	
	
}

.absbody2{
	height:620px;
	width:660px;
	background-color:white;
	position:absolute;
	left:2px;
	top:2px;
	transition:0.3s all;
	opacity:1;
	z-index:1;
	border:1px solid;
}
#pasoslist{
	width: 320px;
	background-color:#FFF;
	border: 1px solid #000;
	font-family: segoe ui;
	font-size: 9pt;
	border-radius: 1px;
	outline: none;	
margin: 20px 10px	
}
#pasoslist2{
	position:absolute;
	top:0px;
	width: 300px;
	background-color:#FFF;
	border: 1px solid #000;
	font-family: segoe ui;
	font-size: 9pt;
	border-radius: 1px;
	outline: none;	
margin: 20px 10px	
}
#pasos{
	position:absolute;
	margin-top:0px;
}