@charset "utf-8";
/* CSS Document */

.formulario {
	background: rgba(211,231,255,.4); 
	border: 2px solid #93C6FF;
	border-radius: 10px;
	width:355px; 	
	position: absolute;
	left: 230px;
	
	
}
#tabla2{
	left: 230px;
	top: 500px;
	width:350px;
	display: none;
		
	}
.text {
	height: 18px;
	width: 179px;
	font-family: Segoe UI;
	font-size: 10pt;
	border: 1px solid #93C6FF;
	outline: none;
}
.columna1 {
	text-align: right;
	vertical-align: top;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 9.5pt;
	width: 40%;
	padding: 5px;
}
.columna2 {
	text-align: left;
	width: 60%;

}

.select {
	height: 22px;
	width: 184px;
	border: 1px solid #93C6FF;
	font-family: Segoe UI;
	font-size: 10pt;
	border-radius: 10px;
	outline: none;	
}
input {
	border-radius: 4px;
	font-family: Segoe UI;
		
	}
.template {	
	background-color: #FFF;
	border: 2px solid #93C6FF;
	border-radius: 9px;	
	position: absolute;
	left: 600px;
	font-family: Segoe UI;
	size: 10px;
	text-align: left;
	width:670px;
	display: none;	
	margin-bottom: 100px;
}
#asunto {
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 10pt;
	background: rgba(211,231,255,.4); 
	border: 2px solid #93C6FF;
	border-radius: 8px;
	width:351px;
	height: 30px;
	position: absolute;
	left: 230px;
	display: none;

}
#asuntot{
	background: rgba(255,255,255,1.00);
	border-radius: 5px;
	margin: 10px;
	line-height: 30px;
	text-align: center;
}
